:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #000;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

.gl-canvas {
  background-color: #000;
}

body {
  margin: 0;
  display: flex;
  place-items: center;
  flex-direction: column;
  min-width: 320px;
  min-height: 100vh;
  padding: 20px 0;
}

input {
  width: 90%;
  padding: 8px 12px;
  color: #fff;
  border-radius: 4px;
  margin-bottom: 30px;
  border: none;
  font-size: 16px;
}

input:focus {
  outline-color: greenyellow;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
  margin-top: 4px;
  margin-bottom: 12px;
}

#map {
  width: 100%;
  min-height: 70vh;
  margin: 0 auto;
  text-align: center;
  position: relative;
}

tag {
  background: #282828;
  padding: 4px 8px;
  border-radius: 4px;
  margin-left: 8px;
}

#searchResult {
  line-height: 2.5rem;
  display: none;
}

.category-button {
  display: block;
  background-color: #e4e3be;
  border: none;
  cursor: pointer;
  border-radius: 8px;
  width: 25px;
  pointer-events: all !important;
}

.category-container:hover .tooltip {
  display: block;
}

.tooltip {
  background-color: #282828;
  border-radius: 8px;
  width: fit-content;
  padding: 2px 8px;
  color: #fff;
  display: none;
  position: absolute;
  z-index: 9999;
  line-height: 1.8;
}

.tooltip h3,
.tooltip p {
  font-size: 10px;
  white-space: nowrap;
  margin: 0;
  text-align: left;
}
